*.py text eol=lf
*.sh text eol=lf
LICENSE text eol=lf
README.* text eol=lf
*.interface text eol=lf
*.jig text eol=lf
*.logger text eol=lf
*.scenario text eol=lf
*.test text eol=lf
*.trigger text eol=lf
*.c text eol=lf
*.S text eol=lf
*.h text eol=lf
*.ld text eol=lf
*.zig text eol=lf
hw/bin/* text eol=lf
Makefile text eol=lf
*.service text eol=lf
*.png binary
*.jpg binary
*.bin binary
*.elf binary
*.bin binary

*.gif diff=image
*.jpeg diff=image
*.jpg diff=image
*.png diff=image
*.gds diff=gds

# Settings to improve linguist data reporting (used by GitHub)
*.v                     linguist-language=Verilog
*.vh                    linguist-language=Verilog
*.vhd                   linguist-language=VHDL
*.vhdl                  linguist-language=VHDL
