[submodule "litex/deps/migen"]
	path = litex/deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "litex/deps/litex"]
	path = litex/deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "litex/deps/litex_boards"]
	path = litex/deps/litex_boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "litex/deps/litescope"]
	path = litex/deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "litex/deps/pyserial"]
	path = litex/deps/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "litex/deps/lxsocsupport"]
	path = litex/deps/lxsocsupport
	url = https://github.com/xobs/lxsocsupport.git
[submodule "litex/deps/valentyusb"]
	path = litex/deps/valentyusb
	url = https://github.com/im-tomu/valentyusb.git
[submodule "litex/deps/litedram"]
	path = litex/deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
