docutils
sphinx<4.0.0
sphinx-autobuild

# Better looking Sphinx theme
# sphinx_materialdesign_theme
git+http://github.com/SymbiFlow/sphinx_materialdesign_theme.git@master#egg=sphinx_symbiflow_theme

# Support tabs for Linux / Mac / Windows
sphinx_tabs

# Support copying without prompts.
git+https://github.com/mithro/sphinxcontrib-session.git#egg=sphinxcontrib-session

# C API
# --------------------------------------


# HDL specific functionality
# --------------------------------------

# Wavedrom diagrams!
sphinxcontrib-wavedrom

# Model diagrams from Verilog code.
symbolator

# Verilog diagrams using Yosys + netlistsvg
git+https://github.com/SymbiFlow/sphinxcontrib-hdl-diagrams.git#egg=sphinxcontrib-hdl-diagrams
